@import url("https://fonts.googleapis.com/css?family=Oswald");

/* Font wordt bij alle paginas veranderd*/
* {
    font-family:'Oswald', 'Tahoma'
}

p,ul {
    font-size: 1rem;
    color: rgb(81, 90, 71);
}

.body {
    width: 70%;
    margin: auto;
}
h1 {
    text-align: center;
    color: rgb(18, 3, 9);
}


nav {
    display: flex;             
    justify-content: center;   
    align-items: center;       
    margin: 0 auto;            
    text-align: center;       
}


nav a {
    text-decoration: none;    
    margin: 0 15px;           
    color: #000;             
}


body {
    margin: 0;              
    padding-left: 30px;          
    box-sizing: border-box; 
}



