/* Smartphones (portrait). */

@media only screen 
and (min-width : 320px) 
and (max-width : 767px) 
{
/* Styles */
h3 {
    font-size: medium;
    margin-top: 15px;

}
p, h3 {
    margin-left: -20px;
}

}

