.image-container {
    display: flex;              
    align-items: flex-start;    
    gap: 20px;                  
}


.image-item {
    text-align: center;          
    max-width: 300px;            
}

video {
    margin-top: 35px;
    max-width: 100%;            
    height: auto;             
    display: block;             
}

img {
    max-width: 100%;            
    height: auto;               
}


.image-item p {
    margin-bottom: 10px;       
}

.image-container span {
    display: block;              
    margin-top: 10px;            
    font-weight: bold;         
}